* {
    margin: 0;
    padding: 0;
}

body {
    background: url(register.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container2 {
    margin-top: 100px;
    padding-left: 150px;
}

.login-form {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 500px;
    border-radius: 15px;
    text-align: center;
    border: #5162f4;
    border-style: solid;
    box-shadow: 10px 10px 10px #5162f4;
    /* 定位到中心 */
}

.text {
    /* 标题Login的样式 */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    margin-top: 10px;
    color: #5162f4;
}

.other,
.form-item {
    margin: 10px auto;
    width: 90%;
}

input {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    /* placeholder变更为大写字体 */
    /* 边框效果 */
    border: 0;
    outline: none;
    border-bottom: 1px solid #5162f4;
}

input::placeholder {
    font-weight: bold;
    color: #acb7c9;
}

input:focus {
    /* 当输入框获取焦点时的效果 */
    /* box-shadow: 0px 0px 5px #fbc2eb;
    border-bottom: 1px solid #fff; */
    animation: bBottom 2s infinite;
}

@keyframes bBottom {
    50% {
        border-bottom: 1px solid #a6c1ee;
    }
}

.btn {
    width: 70%;
    height: 40px;
    line-height: 40px;
    /* 字体 */
    color: #fff;
    font-weight: bold;
    text-align: center;
    /* 鼠标样式 */
    cursor: pointer;
    /* 边框、背景 */
    border-radius: 10px;
    background: linear-gradient(to right, #5162f4, #a6c1ee, #5968ee);
    background-size: 200%;
    border-style: none;
}

.btn:hover {
    animation: btnAnimate 1s infinite;
}

@keyframes btnAnimate {
    50% {
        background-position: 200%;
    }
}

a {
    text-decoration: none;
    color: #5162f4;
}

.birthday {
    margin-top: 20px;
    padding-right: 20px;
}

.birthday .choose {
    width: 65px;
    height: 20px;
    margin-left: 20px;
}

.sex input {
    width: 50px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.sex {
    padding-right: 80px;
}

.xx {
    width: 14px;
    height: 14px;
}