

body {
	font-size: 12px;
	color: #333;
	position: relative;
	background: url(../img/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

.container {
	width: 1228px;
	margin-left: auto;
	margin-right: auto;

}


/* 商品标题 */
.product-title {


	z-index: 4;
	background: #fff;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .07);
	height: 63px;
	width: 100%;
	color: #616161;
}

.product-title .container h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	color: #424242;
	float: left;
}

.product-title .container .right {
	float: right;
	margin: 17px 0 0 0;
	font-size: 14px;
}

.product-title .container .right a:hover {
	color: #5162f4;
}

.product-title .container .right span {
	color: #e0e0e0;
}

/* 商品详情 */
.product-detail {
	height: 760px;
}

/* 商品图轮播 */
.lt-all {
	float: left;
	width: 630px;
}

.pro-lt {
	position: relative;
	height: 600px;
	width: 560px;
}

.pro-lt .banner-list {
	width: 580px;
	height: 566px;
	position: relative;
	left: 0px;
	transition: left 0s linear;
}

.pro-lt li {
	width: 560px;
	height: 566px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.pro-lt li.on {
	opacity: 1;
}

.pro-lt li img {
	width: 560px;
	height: 566px;
}

.pro-lt .btn {
	position: absolute;
	top: 50%;
	margin-top: -35px;
	width: 40px;
	height: 70px;
	cursor: pointer;
}

.pro-lt .btn.prev {
	left: 0px;
	background: url(../img/images/left-arrow.png) center center no-repeat;
	background-size: 40px 40px;
}

.pro-lt .btn.next {


	right: 0;
	background: url(../img/images/right-arrow.png) center center no-repeat;
	background-size: 40px 40px;

}

.pro-lt .btn.prev:hover {
	background: url(../img/images/deep-left-arrow.png) center center no-repeat;
	background-size: 40px 60px;
}

.pro-lt .btn.next:hover {
	background: url(../img/images/deep-right-arrow.png) center center no-repeat;
	background-size: 40px 60px;
}

.pro-lt .page {
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 100%;
	height: 10px;
	text-align: center;

}

.pro-lt .page a {
	display: inline-block;
	margin: 0 5px;
	width: 50px;
	height: 3px;

	border-color: rgba(255, 255, 255, 0.3);

	background-color: #d6d6d6;

	cursor: pointer;
}

.pro-lt .page .on {
	background-color: #a3a3a3;
}

.pro-lt .page a:hover {
	background-color: #a3a3a3;

}

.pro-lt .page span {
	visibility: hidden;
}



/* 右边区域 */
.product-detail .container .pro-rt {
	padding-top: 40px;
	font-size: 14px;
	float: right;
	width: 598px;
	overflow: hidden;
}

.product-detail .container .pro-rt h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 400;
	color: #212121;
}

.product-detail .pro-rt .pdesc {
	color: #b0b0b0;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	line-height: 1.5;

}



.product-detail .pro-rt .price-info {
	display: block;
	font-size: 18px;
	line-height: 1;
	color:#5162f4;
	padding: 12px 0 10px;
}

.product-detail .pro-rt .line {
	margin-top: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.product-detail .pro-rt .address-box {
	margin: 20px 0;
	padding: 30px 50px;
	position: relative;
	background: #fafafa;
	border: 1px solid #e0e0e0;

}

.product-detail .pro-rt .address-box .address-info {
	margin-top: -5px;
}

.product-detail .pro-rt .address-box i {
	position: absolute;
	left: 20px;
	top: 26px;
	font-size: 20px;
	color: #999;
}

.product-detail .pro-rt .address-box .address-info .place span {
	margin-right: 14px;
}

.product-detail .pro-rt .address-box .address-info .place a,
.product-detail .pro-rt .address-box .address-info .have span {
	color: #5162f4;
}

.product-detail .pro-rt .color-box .choosecolor {
	font-size: 18px;
}

.product-detail .pro-rt .color-box .color {
	margin-top: 10px;
	border: 1px solid #5162f4;
	width: 50%;
	height: 43px;
	text-align: center;
	font-size: 15px;
	color: #5162f4;
	line-height: 43px;
}

.product-detail .pro-rt .pay-box {
	background: #f9f9fa;
	padding: 30px;
	margin-top: 28px;
	height: 80px;
}

.product-detail .pro-rt .pay-box h3 {
	font-weight: normal;
}

.product-detail .pro-rt .pay-box span {
	margin-left: 280px;
}

.product-detail .pro-rt .pay-box .total-money {
	color: #5162f4;
	font-size: 24px;
	padding-top: 25px;
}

.product-detail .pro-rt .btn-box {
	margin: 10px 0 20px 0;
	height: 50px;
}

.product-detail .pro-rt .btn-box .sale-btn {
	float: left;
	margin-right: 10px;
	width: 298px;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	background: #5162f4;
	border-color: #5162f4;
	color: #fff;
}

.product-detail .pro-rt .btn-box a {
	text-align: center;
}

.product-detail .pro-rt .btn-box .love-btn {
	background-color: #b0b0b0;
	float: right;
	width: 140px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	font-size: 16px;
	margin-right: 147px;
	border: 1px solid #b0b0b0;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	color: #fff;
}

.product-detail .pro-rt .btn-box .love-btn:hover {
	background-color: #757575;
}

.product-detail .tip-box span {
	display: inline-block;

	margin-right: 15px;
	line-height: 30px;
	margin-bottom: 10px;
	cursor: default;
	white-space: nowrap;
	color: #b0b0b0;
}

.product-detail .tip-box i {
	font-size: 20px;
	display: inline-block;
	font-style: normal;
	vertical-align: middle;
}

.product-detail .tip-box em {
	font-style: normal;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}



/* 评论 */

 .mainbox{
	 width: 800px;
	 margin:20px auto;
 }
span{
	display: inline-block;
	width: 200px;
	height: 25px;
	line-height: 25px;
	vertical-align: center;
	text-align: left;
	margin-bottom: 10px;
}
.tag{
	font-size: 13px;
	margin-left: 370px;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 0;
}
.text{
	width: 750px;
	height: 180px;
	margin:0 auto;

	resize:none;
}

input{
	display: inline-block;
	width: 80px;
	height: 50px;
	background: #5162f4;
	border: 0;
	margin-left: 670px;
	margin-top: 10px;
}
.creatediv{
	width: 675px;
	height: 80px;
	border: 1px solid gray;
	position: relative;
	margin-top: 10px;
	padding-left: 75px;
}
.createinput{
	width: 80px;
	height: 30px;
	position:absolute;
	right: 5px;
	bottom:5px;
}
.createimg{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.createdivs{
	width:600px;
	height:50px;
	position: absolute;
	top: 15px;
	left: 85px;
}
